<div class="mdl-card  mdl-shadow--2dp zipdip-card">
    <div class="mdl-card__title mdl-card--expand zipdip-card-icons-area">
        <div class="zipdip-card-icons-vertical-aligner">
            {{#each iconGroups}}
                {{#if this.count}}
                    <div class="icon-number-label-group">
                        <div class="icon-group">
                            {{{this.iconTemplates}}}
                        </div>
                        <div class="icon-count">{{this.count}}</div>
                        <label>{{{this.label}}}{{#if this.greaterThanOne}}s{{/if}}</label>
                        <!--<div>zip{#ifGreaterThanOne zipCount}s{/ifGreaterThanOne}</div>-->
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="mdl-card__supporting-text">
        What a great zipdip!
    </div>
</div>