<div class="mdl-card  mdl-shadow--2dp zipdip-card">
    <div class="mdl-card__title mdl-card--expand zipdip-card-icons">
        {{#if zipIcons}}
            <div>
                {{{zipIcons}}}
            </div>
        {{/if}}
        {{#if dipIcons}}
            <div>
                {{{dipIcons}}}
            </div>
        {{/if}}
        {{#if potatoChipIcons}}
            <div>
                {{{potatoChipIcons}}}
            </div>
        {{/if}}
        {{#if miracleWhipIcons}}
            <div>
                {{{miracleWhipIcons}}}
            </div>
        {{/if}}
    </div>
    <div class="mdl-card__supporting-text">
        What a great zipdip!
    </div>
</div>